@use "../../colors";
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  & .logo {
    border: 3px solid colors.$tertiary;
    border-radius: 50%;
    margin: 30px auto 20px;
  }
  & .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin: 15px 0;
    & li {
      flex-basis: 49%;
      & a {
        background-color: colors.$background;
        border-radius: 15px;
        text-align: center;
        display: block;
        margin: 0 5px;
        transition: transform 0.2s, color 0.2s;
        padding: 10px 20px;
        margin: 5px 10px;
      }
    }
    & a:hover {
      color: colors.$tertiary;
      transform: scale(1.2);
    }
  }
}

@media screen and (min-width: 600px) {
  header {
    margin: 50px;
    flex-direction: row;
    height: 100px;
    .logo {
      width: 100px;
      height: auto;
      border: 2px solid colors.$tertiary;
      margin-top: 20px;
    }
    & .navbar {
      flex-direction: row;
      & li {
        flex-basis: 0%;
      }
    }
  }
}
