@use "../../colors";
.newsfb {
  margin: 30px 20px;
  box-shadow: 0px 0px 12px 2px colors.$tertiary;
  width: 320px;
  border-radius: 10px;
  & iframe {
    border-radius: 10px;
  }
}
@media screen and (min-width: 600px) {
  .newsfb {
    width: 500px;
  }
}
