@use "../../colors";
.homeproducts {
  border: solid colors.$tertiary 2px;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 0px 12px 3px rgba(colors.$tertiary, 0.4);
  margin: 20px;
  background-color: colors.$secondary;
  margin-bottom: 50px;
  max-width: 700px;
  transition: transform 0.3s;

  &__img {
    display: flex;
    overflow: hidden;
    & img {
      width: 50%;
      height: auto;
      object-fit: cover;
    }
  }
  & h2 {
    text-align: center;
    padding: 10px 30px;
    font-size: 1.3rem;
  }
}
.homeproducts:hover {
  transform: scale(1.1);
}
