@use "../colors";
.produits {
  & h2 {
    margin: 20px;
    box-shadow: 0px 0px 12px 2px colors.$tertiary;
  }
  &__list {
    color: colors.$tertiary;
    max-width: 700px;
  }
  & .bgcolor {
    background-color: colors.$background;
  }
}
